---
import Home from "../../../components/sections/home/Home.astro";
import Activities from "../../../components/sections/activities/Activities.astro";
import Layout from "../../../layouts/Layout.astro";
import Redos from "../../../components/sections/redo/Redos.astro";
import Program from "../../../components/sections/program/Program.astro";
import Material from "../../../components/sections/material/Material.astro";
import Navbar from "../../../components/navbar/Navbar.astro";

export function getStaticPaths() {
  return [
    { params: { subject: "Tecnologías de la Información", course: "NR3A" } },
    { params: { subject: "Tecnologías de la Información", course: "NR3B" } },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5A",
      },
    },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5B",
      },
    },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5C",
      },
    },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5D",
      },
    },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5E",
      },
    },
    {
      params: {
        subject: "Desarrollo de Aplicaciones Informáticas",
        course: "NR5F",
      },
    },
  ];
}

const { subject, course } = Astro.params;
---

<Layout>
  <Navbar course={course} />
  <main
    class="relative grow bg-gray-50 border border-gray-300 rounded-xl overflow-hidden"
  >
    <Home subject={subject} course={course} />
    <Activities subject={subject} course={course} />
    <Redos subject={subject} />
    <Program subject={subject} />
    <Material subject={subject} />
  </main>
</Layout>
