---
import Navbar from "../../../../components/navbar/Navbar.astro";
import Activities from "../../../../components/sections/activities/Activities.astro";
import Home from "../../../../components/sections/home/Home.astro";
import Material from "../../../../components/sections/material/Material.astro";
import Program from "../../../../components/sections/program/Program.astro";
import Layout from "../../../../layouts/Layout.astro";
import { fetchTemplateSubjects } from "../../../../scripts/APIcalls/subjectData";

export async function getStaticPaths() {
  const templateId = "CA-2";
  const paths = await fetchTemplateSubjects(templateId);
  // Change course to ca2Course to match param name
  const cleanPaths = paths.map((path) => {
    return {
      ...path,
      params: {
        subject: path.params.subject,
        year: path.params.year,
        ca2Course: path.params.course,
      },
    };
  });
  return cleanPaths;
}

const { dataSheetId } = Astro.props;
const { ca2Course, year, subject } = Astro.params;

const items = [
  { name: "home", icon: "home", title: subject },
  { name: "actividades", icon: "school", title: "Actividades" },
  { name: "programa", icon: "event_note", title: "Programa" },
  { name: "material", icon: "construction", title: "Material" },
];
---

<Layout dataSheetId={dataSheetId}>
  <Navbar course={ca2Course} subject={subject} items={items} />
  <main
    class="relative grow bg-gray-50 border-y sm:border-r lg:border-l border-gray-300 sm:rounded-r-xl lg:rounded-l-xl overflow-hidden"
    x-init={`$store.student.getStudentData('${subject}','${ca2Course}','${dataSheetId}')`}
  >
    <Home
      subject={subject}
      course={ca2Course}
      year={year}
      position={0}
      presentation={false}
    />
    <Activities subject={subject} course={ca2Course} year={year} position={1} />
    <Program subject={subject} year={year} position={2} />
    <Material subject={subject} course={ca2Course} year={year} position={3} />
  </main>
</Layout>
