---
import Loader from "../../loader/Loader.astro";
import SectionLayout from "../SectionLayout.astro";
import Article from "./Article.astro";

interface Props {
  subject: string;
  course: string;
  year: number;
  position: number;
}

const { subject, course, year, position } = Astro.props;
---

<SectionLayout name="actividades" position={position}>
  <div
    class="w-full"
    x-data="{ unitsData: [], loading: true, currentContent: null, articleOpen: false, articleURL:''}"
    x-init={`unitsData = (await getSubjectData('${course}', '${subject}', dataSheetId)).reverse(); loading = false;`}
    @changedsection.window="articleOpen = false;"
  >
    <div class="w-full">
      <div x-show="!loading" class="flex flex-col gap-y-4">
        <h1 class="text-[30px] md:text-[36px] font-bold text-center p-4">
          Actividades
        </h1>
        <template x-for="unit in unitsData" :key="unit.order">
          <div
            class="border-2 border-gray-300 rounded-xl"
            x-data="{ open: false }"
          >
            <div
              class="flex justify-between items-center cursor-pointer p-4"
              @click="open = !open"
            >
              <div class="text-[20px] md:text-[24px] font-bold">
                <span x-text="`Unidad ${unit.order}: `"></span><span
                  x-text="unit.name"></span>
              </div>
              <span
                class="material-symbols-outlined text-[36px] transition-transform"
                x-bind:class="{'rotate-90': open}"
              >
                chevron_right
              </span>
            </div>
            <div x-show="open" class="flex flex-col pb-4 px-4" x-collapse>
              <template x-for="content in unit.contents">
                <div
                  class="cursor-pointer border-t-2 md:border-l-4 md:border-t-0 border-gray-300 md:border-gray-50 py-1 px-4 hover:border-sh-purple flex items-center w-full max-w-full overflow-clip"
                  x-on:click={`(() => {
                currentContent = content;
                if(content.textURL.startsWith('https:')){
                  window.open(content.textURL, '_blank');
                } else {
                  articleOpen = true; 
                  articleURL =  $store.baseURL.dataURL + '/${year}/${subject}/activities/' + content.textURL;}
                })()`}
                  x-init="if(content.latest) open = true"
                >
                  <span class="max-md:hidden flex justify-between items-center">
                    <span
                      x-show="content.type !== 'Actividad'"
                      class="material-symbols-outlined text-[24px]"
                      x-text="(()=>{switch(content.type) {
                          case 'Trabajo Práctico': return 'workspace_premium'
                          case 'Encuesta': return 'checklist';
                          case 'Recuperatorio': return 'redo';
                          default: return 'description';
                        }})()"
                    >
                    </span>
                    <img
                      x-show="content.type === 'Actividad'"
                      class="w-[24px] h-[24px]"
                      :src="$store.baseURL.publicURL(`icons/${'shovel'}.svg`)"
                    />
                  </span>
                  <div
                    class="flex flex-col basis-0 grow max-w-[calc(100%-24px)] md:items-center md:flex-row gap-y-1 gap-x-4 md:ml-4"
                  >
                    <span
                      class="font-semibold text-left text-[16px] md:text-[20px]"
                      x-text="content.name"></span>
                    <span
                      class="italic text-left text-[14px] md:text-[16px]"
                      x-text="content.topic"></span>
                    <div
                      class="flex gap-x-2 items-center md:w-auto overflow-y-auto"
                    >
                      <div
                        class="flex justify-center rounded-full bg-sh-dark-gray text-white px-1.5 md:py-0.5 md:hidden"
                      >
                        <span
                          class="font-bold uppercase text-[12px] md:text-[14px]"
                          x-text="(()=>{switch(content.type) {
                          case 'Trabajo Práctico': return 'TP'
                          case 'Actividad': return 'actividad'
                          case 'Encuesta': return 'encuesta';
                          case 'Recuperatorio': return 'recuperatorio';
                          default: return 'artículo';
                        }})()"
                        ></span>
                      </div>
                      <template x-if="content.optional">
                        <div
                          class="flex justify-center items-center rounded-full bg-sh-blue text-white px-1.5 md:py-0.5"
                        >
                          <span
                            class="font-bold uppercase text-[12px] md:text-[14px]"
                            >opcional</span
                          >
                        </div>
                      </template>
                      <template x-if="content.latest">
                        <div
                          class="flex justify-center items-center rounded-full bg-sh-purple text-white px-1.5 md:py-0.5"
                        >
                          <span
                            class="font-bold uppercase text-[12px] md:text-[14px]"
                            >nuevo</span
                          >
                        </div>
                      </template>
                    </div>
                  </div>
                  <template
                    x-if={`['Actividad','Trabajo Práctico','Encuesta'].includes(content.type) && $store.student.course === '${course}'`}
                  >
                    <span
                      class="material-symbols-outlined text-[24px] w-[24px] shrink-0 md:ml-auto"
                      x-data="{ passed: false, pending: true, redo: false }"
                      x-text="(()=>{if(pending || redo) {return 'pending'} else if(passed) {return 'check_circle'} else {return 'cancel'}})()"
                      x-bind:class="(()=>{if(pending) {return 'text-gray-400'}else if(redo){return 'text-sh-yellow'} else if(passed) {return 'text-sh-green'} else {return 'text-sh-red'}})()"
                      x-effect="
                          if(content.type === 'Actividad') {
                            const results = $store.marks.activities.find(activity => activity.id === content.id);
                            if(results) {
                              passed = results.done;
                              pending = false;
                              redo = results.inRevision;
                            }}
                            else if(content.type === 'Trabajo Práctico') {
                              const results = $store.marks.marks.find(mark => mark.id === content.id);
                              const specialActivity = $store.marks.activities.find(activity => activity.id === content.id);
                              if(results) {
                                passed = results.mark >= 6;
                                pending = false;
                                redo = results.inRevision;
                              }
                              else if(specialActivity) {
                                passed = specialActivity.done;
                                pending = false;
                                redo = specialActivity.inRevision;
                              }
                            }
                          
                            "
                    >
                    </span>
                  </template>
                </div>
              </template>
            </div>
          </div>
        </template>
        <Loader show="loading" />
      </div>
    </div>
    <Article
      content="currentContent"
      articleURL="articleURL"
      open="articleOpen"
      course={course}
    />
  </div>
</SectionLayout>
