---
import Loader from "../../loader/Loader.astro";
import SectionLayout from "../SectionLayout.astro";
import Article from "./Article.astro";

interface Props {
  subject: string;
  course: string;
  year: number;
  position: number;
}

const { subject, course, year, position } = Astro.props;
---

<script>
  import type { AlpineCourseStore } from "../../../scripts/alpine/stores/course";
  import type { PageDataStore } from "../../../scripts/alpine/stores/pageData";
  import type { AlpineStudentMarkStore } from "../../../scripts/alpine/stores/marks";
  import { getSubjectData } from "../../../scripts/fetchData";
  import type {
    ClassActivity,
    Content,
    MarkedActivity,
    Unit,
  } from "../../../scripts/types";

  document.addEventListener("alpine:init", () => {
    Alpine.data(
      "activitiesData",
      (subject: string, course: string, year: string) => ({
        unitsData: [] as Unit[],
        loading: true,
        currentContent: null,
        articleOpen: false,
        articleURL: "",
        async init() {
          const dataSheetId = (Alpine.store("pageData") as PageDataStore)
            .dataSheetId;
          this.unitsData = (
            await getSubjectData(course, subject, dataSheetId)
          ).reverse();
          const courseStore = Alpine.store("course") as AlpineCourseStore;
          courseStore.setActivities([...this.unitsData]);
          this.loading = false;
        },
        itemOpen: (
          content: any,
          data: {
            currentContent: any;
            articleOpen: boolean;
            articleURL: string;
          }
        ) => {
          return () => {
            if (content.textURL.startsWith("https:")) {
              data.currentContent = null;
              window.open(content.textURL, "_blank");
            } else {
              const dataURL = (Alpine.store("pageData") as PageDataStore)
                .dataURL;
              data.currentContent = content;
              data.articleOpen = true;
              data.articleURL =
                dataURL + `/${year}/${subject}/articles/` + content.textURL;
            }
          };
        },
      })
    );
    Alpine.data("contentData", (content: Content) => ({
      content: content,
      passed: false,
      pending: true,
      redo: false,
      optional: content.optional,
      init() {
        if (this.content.type === "Actividad") {
          if (Alpine.store("marks")) {
            this.updateClassActivity();
          }
          this.$watch("$store.marks.classActivities", () =>
            this.updateClassActivity()
          );
        } else if (
          this.content.type === "Trabajo Práctico" ||
          this.content.type === "Encuesta"
        ) {
          if (Alpine.store("marks")) {
            this.updateMarkedActivity();
            this.updateClassActivity();
          }
          this.$watch("$store.marks.markedActivities", () =>
            this.updateMarkedActivity()
          );
          this.$watch("$store.marks.classActivities", () =>
            this.updateMarkedActivity()
          );
        }
      },
      get symbol() {
        switch (this.content.type) {
          case "Trabajo Práctico":
            return "workspace_premium";
          case "Encuesta":
            return "checklist";
          case "Recuperatorio":
            return "refresh";
          case "Actividad":
            return "shovel";
          default:
            return "description";
        }
      },
      get typeLabel() {
        switch (this.content.type) {
          case "Trabajo Práctico":
            return "TP";
          case "Encuesta":
            return "Encuesta";
          case "Recuperatorio":
            return "Recuperatorio";
          case "Actividad":
            return "Actividad";
          default:
            return "Artículo";
        }
      },
      get markSymbol() {
        if (this.pending || this.redo) {
          return "pending";
        } else if (this.passed) {
          return "check_circle";
        } else {
          return "cancel";
        }
      },
      updateClassActivity() {
        const contentId = this.content.id;
        const activities = (Alpine.store("marks") as AlpineStudentMarkStore)
          .classActivities as ClassActivity[];
        const results = activities.find(
          (activity) => activity.id === contentId
        );
        if (results) {
          this.updateStatus(results.done, false, results.inRevision);
        }
      },
      updateMarkedActivity() {
        const contentId = this.content.id;
        const markedActivities = (
          Alpine.store("marks") as AlpineStudentMarkStore
        ).markedActivities as MarkedActivity[];
        const results = markedActivities.find(
          (mark: MarkedActivity) => mark.id === contentId
        );
        if (results) {
          this.updateStatus(results.mark >= 6, false, results.inRevision);
        }
      },
      updateStatus(passed: boolean, pending: boolean, redo: boolean) {
        this.passed = passed;
        this.pending = pending;
        this.redo = redo;
      },
    }));
  });
</script>

<SectionLayout name="actividades" position={position}>
  <div
    class="w-full"
    id="activitiesSection"
    x-data=`activitiesData('${subject}','${course}','${year}')`
    @changedsection.window="articleOpen = false;"
  >
    <div class="w-full">
      <div x-show="!loading" class="flex flex-col gap-y-4">
        <h1 class="text-[30px] md:text-[36px] font-bold text-center p-4">
          Actividades
        </h1>
        <template x-for="unit in unitsData" :key="unit.order">
          <div
            class="border-2 border-gray-300 rounded-xl"
            x-data="{ open: false }"
          >
            <div
              class="flex justify-between items-center cursor-pointer p-4"
              @click="open = !open"
            >
              <div class="text-[20px] md:text-[24px] font-bold">
                <span x-text="`Unidad ${unit.order}: `"></span><span
                  x-text="unit.name"></span>
              </div>
              <span
                class="material-symbols-outlined text-[36px] transition-transform"
                x-bind:class="{'rotate-90': open}"
              >
                chevron_right
              </span>
            </div>
            <div x-show="open" class="flex flex-col pb-4 px-4" x-collapse>
              <template x-for="content in unit.contents">
                <div
                  class="cursor-pointer border-t-2 md:border-l-4 md:border-t-0 border-gray-300 md:border-gray-50 py-1 px-4 hover:border-sh-purple flex items-center w-full max-w-full overflow-clip"
                  @click="itemOpen(content,$data)"
                  x-data="contentData(content)"
                  x-init="if(content.latest) open = true"
                >
                  <span class="max-md:hidden flex justify-between items-center">
                    <span
                      x-show="content.type !== 'Actividad'"
                      class="material-symbols-outlined text-[24px]"
                      x-text="symbol"
                    >
                    </span>
                    <img
                      x-show="content.type === 'Actividad'"
                      class="w-[24px] h-[24px]"
                      :src="$store.pageData.publicURL(`icons/${'shovel'}.svg`)"
                    />
                  </span>
                  <div
                    class="flex flex-col basis-0 grow max-w-[calc(100%-24px)] md:items-center md:flex-row gap-y-1 gap-x-4 md:ml-4"
                  >
                    <span
                      class="font-semibold text-left text-[16px] md:text-[20px]"
                      x-text="content.name"></span>
                    <span
                      class="italic text-left text-[14px] md:text-[16px]"
                      x-text="content.topic"></span>
                    <div
                      class="flex gap-x-2 items-center md:w-auto overflow-y-auto"
                    >
                      <div
                        class="flex justify-center rounded-full bg-sh-dark-gray text-white px-1.5 md:py-0.5 md:hidden"
                      >
                        <span
                          class="font-bold uppercase text-[12px] md:text-[14px]"
                          x-text="typeLabel"></span>
                      </div>
                      <template x-if="content.optional">
                        <div
                          class="flex justify-center items-center rounded-full bg-sh-blue text-white px-1.5 md:py-0.5"
                        >
                          <span
                            class="font-bold uppercase text-[0px] first-letter:text-[12px] md:first-letter:text-[14px] md:text-[14px]"
                            >opcional</span
                          >
                        </div>
                      </template>
                      <template x-if="content.latest">
                        <div
                          class="flex justify-center items-center rounded-full bg-sh-purple text-white px-1.5 md:py-0.5"
                        >
                          <span
                            class="font-bold uppercase text-[0px] first-letter:text-[12px] md:first-letter:text-[14px] md:text-[14px]"
                            >nuevo</span
                          >
                        </div>
                      </template>
                    </div>
                  </div>
                  <template
                    x-if={`['Actividad','Trabajo Práctico','Encuesta'].includes(content.type) && $store.student.course === '${course}' && $store.marks`}
                  >
                    <span
                      x-show="!(optional && pending)"
                      class="material-symbols-outlined text-[24px] w-[24px] shrink-0 md:ml-auto"
                      x-text="markSymbol"
                      :class="(()=>{if(pending) {return 'text-gray-400'}else if(redo){return 'text-sh-yellow'} else if(passed) {return 'text-sh-green'} else {return 'text-sh-red'}})()"
                    >
                    </span>
                  </template>
                </div>
              </template>
            </div>
          </div>
        </template>
      </div>
      <Loader show="loading" />
    </div>
    <Article
      content="currentContent"
      articleURL="articleURL"
      open="articleOpen"
      course={course}
    />
  </div>
</SectionLayout>
