---
import Loader from "../../loader/Loader.astro";

interface Props {
  open: string;
  articleURL: string;
  content: string;
  course: string;
}

const { open, articleURL, content, course } = Astro.props;
---

<article
  x-show={`$store.section.currentSection === 'actividades' && ${open} && ${content} !== null`}
  x-data="{ loading: true}"
  class="absolute top-0 left-0 w-full h-full bg-gray-50 overflow-y-scroll flex flex-col py-4 px-8"
  x-transition:enter="transition ease-in duration-500"
  x-transition:enter-start="translate-x-full border-l border-gray-400"
  x-transition:enter-end="translate-x-0 border-l border-gray-400"
  x-transition:leave="transition ease-out duration-500"
  x-transition:leave-start="translate-x-0 border-l border-gray-400"
  x-transition:leave-end="translate-x-full border-l border-gray-400"
  x-effect={`
    if(${content} !== null){
        loading = true;
        $refs.content.innerHTML = await fetchHTMLData(${articleURL});
        loading = false;}
        `}
>
  <div
    class="flex justify-between w-full items-center pb-2 mb-2 border-b-2 border-gray-300"
  >
    <div class="flex gap-x-4 self-stretch">
      <template x-if={`${content} && ${content}.repositoryURL !== ''`}>
        <a
          class="bg-sh-purple p-1 sm:px-3 sm:py-2 max-sm:aspect-square rounded-xl cursor-pointer flex justify-center gap-x-3 sm:w-36 items-center hover:shadow-md"
          x-bind:href={`${content}.repositoryURL`}
        >
          <span class="max-sm:hidden">Repositorio</span>
          <svg
            class="w-[20px] h-[20px] sm:w-[24px] sm:h-[24px]"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path
              d="M2.5 18.5C2.5 20.43 4.07 22 6 22s3.5-1.57 3.5-3.5c0-1.58-1.06-2.903-2.5-3.337v-3.488c.244.273.509.527.813.744 1.18.844 2.617 1.098 3.918 1.098.966 0 1.853-.14 2.506-.281a3.5 3.5 0 0 0 3.264 2.265c1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5a3.5 3.5 0 0 0-3.404 2.718c-1.297.321-3.664.616-5.119-.426-.666-.477-1.09-1.239-1.306-2.236C8.755 7.96 9.5 6.821 9.5 5.5 9.5 3.57 7.93 2 6 2S2.5 3.57 2.5 5.5c0 1.58 1.06 2.903 2.5 3.337v6.326c-1.44.434-2.5 1.757-2.5 3.337zm15-8c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5S16 12.827 16 12s.673-1.5 1.5-1.5zm-10 8c0 .827-.673 1.5-1.5 1.5s-1.5-.673-1.5-1.5S5.173 17 6 17s1.5.673 1.5 1.5zm-3-13C4.5 4.673 5.173 4 6 4s1.5.673 1.5 1.5S6.827 7 6 7s-1.5-.673-1.5-1.5z"
            ></path>
          </svg>
        </a>
      </template>
      <template x-if={`${content} && ${content}.handInURL !== ''`}>
        <a
          class="bg-sh-purple p-1 sm:px-3 sm:py-2 max-sm:aspect-square rounded-xl cursor-pointer flex justify-center gap-x-3 sm:w-36 items-center hover:shadow-md"
          x-bind:href={`${content}.handInURL`}
        >
          <span class="max-sm:hidden">Entrega</span>
          <span class="material-symbols-outlined text-[20px]! sm:text-[24px]!">
            move_to_inbox
          </span>
        </a>
      </template>
    </div>
    <div
      x-on:click={`${open} = false`}
      class="border-gray-400 border-2 p-2 rounded-xl cursor-pointer flex justify-center items-center hover:shadow-md"
    >
      <span
        x-text="'close'"
        class="material-symbols-outlined text-[20px]! sm:text-[24px]!"></span>
    </div>
  </div>
  <Loader show="loading" />
  <div x-show="!loading" class="flex flex-col gap-y-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div
        class="order-2 md:order-1 self-stretch flex flex-col justify-center gap-y-2"
      >
        <h1
          x-text={`${content} ? ${content}.name : ''`}
          class="text-center md:text-left text-[36px] md:text-[40px] lg:text-[48px] font-bold"
        >
        </h1>
        <template
          x-if={`${content} && $store.student.course === '${course}' &&
              ((${content}.type === 'Actividad' &&
                $store.student.activities.find(
                  (activity) => activity.id === ${content}.id
                )) ||
                (${content}.type === 'Trabajo Práctico' &&
                  ($store.student.marks.find(
                    (activity) => activity.id === ${content}.id
                  )) || $store.student.activities.find(
                    (activity) => activity.id === ${content}.id
                  )))`}
        >
          <div
            class="flex justify-center md:justify-start w-full"
            x-data="{ passing: false, mark: -1, comment: '', redo: false }"
            x-effect={`
                  if(${content}.type === 'Actividad') {
                    const activity = $store.student.activities.find(activity => activity.id === ${content}.id);
                    mark = -1;
                    passing = activity.done;
                    comment = activity.comment;
                    redo = activity.inRevision;
                  }
                  else if(${content}.type === 'Trabajo Práctico') {
                    const activityMark = $store.student.marks.find(mark => mark.id === ${content}.id);
                    const specialActivity = $store.student.activities.find(activity => activity.id === ${content}.id);
                    if (activityMark) {
                      mark = activityMark.mark;
                      passing = mark >= 6;
                      comment = activityMark.comment;
                      redo = activityMark.inRevision;
                      }
                    else if(specialActivity) {
                      mark = -1;
                      passing = specialActivity.done;
                      comment = specialActivity.comment;
                      redo = specialActivity.inRevision;
                    }
                    }
                `}
          >
            <div
              class="p-2 md:px-4 py-2 rounded-full flex justify-center items-center gap-x-4 text-[16px] md:text-[20px]"
              x-bind:class="{
                  'bg-sh-light-yellow text-sh-yellow': redo,
                  'bg-sh-light-green text-sh-green ': passing && !redo,
                  'bg-sh-light-red text-sh-red': !passing && !redo,
                }"
            >
              <span
                x-bind:class="{
                  'material-symbols-outlined text-[20px]! md:text-[24px]!': redo || mark === -1,
                }"
                x-text="(() => {
                          if (redo) {
                            return 'more_horiz';
                          } else if(mark === -1) {
                            if(passing) {
                              return 'check';
                            }
                            else {
                              return 'close';
                            }
                          }
                          else {
                            return mark;
                          }
                        })()"
              ></span>
              <span
                x-text={`(() => {
                    if(redo) {
                      return 'En Revisión'
                    }
                    if(comment) {
                      return comment
                    }
                    else {
                      if(${content}.type === 'Actividad') {
                        if(passing) {
                          return 'Hecha'
                        }
                        else {
                          return 'Pendiente'
                        }
                      }
                      else {
                        if(passing) {
                          return 'Aprobado'
                        }
                        else {
                          return 'En Proceso'
                        }
                      }
                    }
                  })()`}></span>
            </div>
          </div>
        </template>
      </div>
      <template
        x-data="{imageLink: undefined}"
        x-if="imageLink"
        x-effect={`imageLink = (${content} && ${content}.imgURL)?? undefined;console.log(imageLink)`}
      >
        <img
          x-bind:src={`${content} !== null?${content}.imgURL:''`}
          alt="imagen actividad"
          class="order-1 md:order-2 rounded-xl overflow-hidden aspect-square w-36 md:w-40 object-cover"
        />
      </template>
    </div>
    <div
      x-ref="content"
      x-init="$watch('loading', (value) => {if(!loading){window.Alpine.initTree($el)}})"
      class="content overflow-x-scroll flex flex-col [&>h2]:py-2 [&>h2]:text-[32px] [&>h3]:text-[24px] [&>h3]:py-2 [&>p]:py [&>p]:indent-4 [&>p]:text-gray-600 [&>ul]:py-2 [&>ol>li>ul]:list-disc [&>ol>li>ul]:list-inside [&>ol>li>ul]:indent-8 [&>ol>li>ul>li]:text-gray-600 [&>ol>li>ul>li]:list-disc [&>ol>li>ul>li+li]:mt-1 [&>ol>li>ul]:py-2 [&>ul]:list-disc [&>ul]:list-inside [&>ul]:indent-4 [&>ul>li]:text-gray-600 [&>ul>li]:list-disc [&>ul>li+li]:mt-1 [&>ol]:py-2 [&>ol]:list-decimal [&>ol]:list-inside [&>ol]:indent-4 [&>ol>li]:text-gray-600 [&>ol>li+li]:mt-1 [&>table]:rounded-xl [&>table]:overflow-hidden [&>table]:my-2 [&>table]:mx-4 [&>table>thead]:bg-sh-black [&>table>thead]:text-white [&>table>thead>tr>th]:p-2 [&>table>tbody]:bg-gray-200 [&>table>tbody>tr>td]:p-2 [&>table>tbody>tr>td]:text-center"
    >
    </div>
  </div>
</article>
