---
interface Props {
  title: string;
  xModel: string;
  options: Array<{
    value: any;
    label: string;
  }>;
  className?: string;
}

const { title, xModel, options, className } = Astro.props;
---

<div
  x-data={`{options: ${JSON.stringify(options)}}`}
  class={`flex flex-col items-center md:items-start gap-2 ${className}`}
  x-init={`if(options.length > 0)${xModel} = options[0].value`}
>
  <label
    class="text-center md:text-left text-sh-dark-gray text-[16px] font-semibold"
    x-text={`'${title}'`}></label>
  <select
    x-model.number={xModel}
    class="w-full max-w-[200px] h-[40px] rounded-xl text-sh-dark-gray text-[16px] p-2 border-2 border-sh-gray focus:outline-none focus:ring focus:ring-sh-blue focus:border-sh-blue"
  >
    <template x-for="option in options">
      <option :value="option.value" x-text="option.label"></option>
    </template>
  </select>
</div>
