---
import Home from "../sections/home/Home.astro";
import Activities from "../sections/activities/Activities.astro";
import Material from "../sections/material/Material.astro";
import Navbar from "../navbar/Navbar.astro";
import Timetable from "../sections/timetable/Timetable.astro";

interface Props {
  dataSheetId?: string;
  subject: string;
  course: string;
  year: number;
}

const { subject, course, year, dataSheetId } = Astro.props;

const items = [
  { name: "home", icon: "home", title: subject },
  { name: "actividades", icon: "school", title: "Actividades" },
  { name: "material", icon: "construction", title: "Material" },
  { name: "horarios", icon: "calendar_month", title: "Horarios" },
];
---

<Navbar course={course} subject={subject} items={items} />
<main
  class="relative grow bg-gray-50 border-y sm:border-r lg:border-l border-gray-300 sm:rounded-r-xl lg:rounded-l-xl overflow-hidden"
  x-init={`$store.course.setCourse('${course}');$store.student.getStudentData('${subject}',${year},'${dataSheetId}')`}
>
  <Home
    subject={subject}
    course={course}
    position={0}
    year={year}
    presentation={false}
  />
  <Activities subject={subject} course={course} year={year} position={1} />
  <Material subject={subject} course={course} year={year} position={2} />
  <Timetable subject={subject} position={3} />
</main>
