---
import Select from "../components/misc/select/Select.astro";
import Radio from "../components/misc/radio/Radio.astro";
import GithubLayout from "../layouts/GithubLayout.astro";
import { fetchSubjects } from "../scripts/APIcalls/dashboard";

const availableCourses = await fetchSubjects();
// Modify available courses so that all divisions of a subject in a year are grouped together
const availableSubjects = availableCourses.reduce(
  (acc, course) => {
    const existingSubject = acc.find(
      (s) => s.subject === course.name && s.year === course.year,
    );
    if (existingSubject) {
      existingSubject.divisions.push({
        name: course.division,
        division: course.course,
      });
    } else {
      acc.push({
        subject: course.name,
        year: course.year,
        level: course.level,
        divisions: [
          {
            name: course.division,
            division: course.course,
          },
        ],
      });
    }
    return acc;
  },
  [] as {
    subject: string;
    year: number;
    level: number;
    divisions: { name: string; division: string }[];
  }[],
);
---

<script>
  type Subject = {
    subject: string;
    year: number;
    level: number;
    divisions: { name: string; division: string }[];
  };
  document.addEventListener("alpine:init", () => {
    Alpine.data("pagesIndex", (availableSubjects: Subject[]) => ({
      years: [] as { value: number; label: string }[],
      filter: {
        year: NaN,
        level: NaN,
      },
      availableSubjects: availableSubjects,
      init() {
        // Get unique years from available subjects
        const yearsSet = new Set<number>();
        this.availableSubjects.forEach((subject) => {
          yearsSet.add(subject.year);
        });
        this.years = Array.from(yearsSet)
          .sort((a, b) => b - a)
          .map((year) => {
            return { value: year, label: year.toString() };
          });
        // Set default filter values
        this.filter.year = this.years[0].value;
        // Watch filter.year changes to reset filter.level
        this.$watch("filter.year", (value: number, oldValue: number) => {
          this.filter.level = NaN;
        });
      },
      get filteredSubjects() {
        return this.availableSubjects.filter((subject) => {
          let yearFilter = true;
          let levelFilter = true;
          if (!isNaN(this.filter.year)) {
            yearFilter = subject.year === this.filter.year;
          }
          if (!isNaN(this.filter.level)) {
            levelFilter = subject.level === this.filter.level;
          }
          return yearFilter && levelFilter;
        });
      },
      get levelOptions() {
        let options = [
          { value: 3, label: "3", disabled: true },
          { value: 4, label: "4", disabled: true },
          { value: 5, label: "5", disabled: true },
        ];
        // Change disabled status of those options that are present in of the current year
        if (!isNaN(this.filter.year)) {
          const levelsInYear = new Set<number>();
          this.availableSubjects.forEach((subject) => {
            if (subject.year === this.filter.year) {
              levelsInYear.add(subject.level);
            }
          });
          options = options.map((option) => {
            if (levelsInYear.has(option.value)) {
              return { ...option, disabled: false };
            }
            return option;
          });
        }
        return options;
      },
    }));
  });
</script>

<GithubLayout>
  <div
    x-data={`pagesIndex(${JSON.stringify(availableSubjects)})`}
    class="grow w-full bg-gray-50 z-50 flex flex-col items-center justify-center"
    x-transition:leave="transition ease-out duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
    <div class="w-full h-full flex flex-col items-center overflow-y-scroll">
      <h1 class="text-[30px] md:text-[36px] font-bold pt-4 pb-2">
        ¡Bienvenidos a TIC Campus!
      </h1>
      <h2 class="text-[16px] md:text-[20px] pb-4">
        Estas son las materias disponibles
      </h2>
      <form class="flex flex-col gap-y-4 w-full px-8">
        <div class="flex flex-col gap-y-4 py-2 md:flex-row md:gap-x-8 w-full">
          <Select
            options="years"
            title="Año"
            xModel="filter.year"
            className="w-full md:w-1/4"
          />
          <Radio
            options="levelOptions"
            xModel="filter.level"
            title="Año escolar"
            className="w-full md:w-1/4"
          />
        </div>
        <div
          class="flex flex-col gap-y-4 w-full pt-4 border-t-2 border-gray-300"
        >
          <span
            class="w-full font-bold text-[20px] text-center"
            x-show="isNaN(filter.year) || isNaN(filter.level)"
            >Elegí el año y el nivel escolar</span
          >
          <template x-if="!isNaN(filter.year) && !isNaN(filter.level)">
            <template x-for="course in filteredSubjects" :key="course.subject">
              <div class="flex flex-col gap-2 w-full">
                <span
                  class="w-full font-bold text-[20px] text-center md:text-left"
                  x-text="course.subject"></span>
                <div class="flex gap-2 w-full flex-wrap">
                  <template x-for="division in course.divisions">
                    <a
                      :href="`${$store.pageData.dataURL}/${course.year}/${course.subject}/${division.division}`"
                      class="flex gap-x-4 py-2 px-4 rounded-xl bg-gray-300 cursor-pointer hover:shadow-lg"
                    >
                      <span
                        class="text-[16px] text-sh-dark-gray"
                        x-text="course.level + division.name"></span>
                    </a>
                  </template>
                </div>
              </div>
            </template>
          </template>
        </div>
      </form>
    </div>
  </div>
</GithubLayout>
